:root {
  --colour_black: #000000;
  --colour_white: #ffffff;

  --colour_cyan: #00eeff;
  --colour_cyan_dark: #00ddff;
  --colour_cyan_darker: #00aaff;
}

html,
body {
  height: 100dvh;
  width: 100dvw;

  padding: 0;
  margin: 0;

  background: var(
    --colour_black
  );

  font-family: Monaco, monospace;
  font-size: 10px;
}

a,
a:link,
a:visited {
  color: var(
    --colour_cyan_darker
  );
}

a:hover {
  color: var(
    --colour_cyan_dark
  );
}

a:active {
  color: var(
    --colour_cyan
  );
}
